@import "~uikit/dist/css/uikit.min.css";
@import "~swiper/dist/css/swiper.min.css";

html{
  background: #f8f8f8;
}
body {
  margin: 0;
  padding: 0;
  
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;

  input {display:none;}

  input:checked + .slider {
      background-color: red;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px red;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    

  .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0; 
      bottom: 0;
     // background-color: $grey-bg;
      transition: all .3s ease-in-out;
      box-shadow: inset 0px 0px 1px rgba(0,0,0,0.15);

      &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 2px;
          bottom: 2px;
          background-color: white;
          transition: all .3s ease-in-out;
          box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
          
        }

        &.round {
          border-radius: 34px;
          &:before {
              border-radius: 50%;
            }
        }
        
        
    }
}


.toggle-tile {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  .backdrop{
    position: absolute;
    transition: 0.3s all cubic-bezier(.1,-0.16,0,.99);
    width: 0;
    height: 100%;
    z-index: 0;
    background: transparent;
    border-bottom: 2px solid blue;
    box-sizing: border-box;
  }
  input {display:none;}

  input:checked + .backdrop {
      width: 100%;
    }

}
